extends base

block content 
    if errorMessage 
        h3=errorMessage
    form(method="POST")
        input(type="text",name='username',placeholder="Enter Username")
        input(type='password',name="password",placeholder="Enter PassWord")
        input(type='submit',value="login")
        include partials/social-login
    div.auth-switch
        span Don't have an account? 
        a(href="/join") Create one now =>