extends base
include mixins/video

block content 
    form(method="GET").search__form
        input(type="text", placeholder="찾고싶은 Title을 적어주세요", name="keyword")
        button
          i.fas.fa-search
    div.video-grid
        each video in videos 
            +video(video)
        else    
           span.empty__message No videos found