extends ../base

block content
    if errorMessage 
        h3=errorMessage
    form(method="POST")
        input(type="password", name="oldPassword", placeholder="Input Origin Password")
        input(type="password", name="newPassword", placeholder="Input New Password")
        input(type="password", name="newPasswordConfirm", placeholder="Confirm New Password")
        input(type='submit', value="Change PW")